chumpy==0.70
ffmpeg==1.4
ffnet==0.8.4
h5py
imageio
imageio-ffmpeg==0.4.3
ipdb==0.13.7
joblib==1.0.1
learn2learn==0.1.5
numpy==1.19.5
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.1.5
Pillow
protobuf==3.15.6
pyglet==1.5.0
PyOpenGL==3.1.0
pyrender==0.1.45
scikit-image==0.17.2
scipy 
smplx==0.1.13
spacepy==0.2.2
tensorboard==2.4.1
tensorboardX==2.1
torch ==1.1
torchgeometry==0.1.2
torchvision
tqdm
trimesh==3.9.9